<script>
import {FullCalendar} from "vue-full-calendar";
import SaveBtn from "@components/utils/save-btn";
import AgendaModal from "@components/agenda/agenda-modal";
import 'fullcalendar/dist/locale/fr'
import 'fullcalendar/dist/fullcalendar.css'
import Meeting from "@src/models/event/Meeting";
import store from "@state/store";

export default {
  name: "agenda",
  components: { FullCalendar, SaveBtn, AgendaModal },
  data() {
    return {
      update_case : false,
      title : '',
      meeting : null,
      meetings : [],
      config : {
        initialView: 'dayGridMonth',
      }
    }
  },
  mounted() {
    this.getMeetings()
    this.removeResizer()
  },
  methods : {
    async eventSelected( event ) {
      this.title = "Editer un événement"
      this.update_case = true
      this.meeting = await this.$store.dispatch('meeting/find', { id: event.id })
      this.$bvModal.show('modal-event')
    },
    eventCreated( event ) {
      this.title = "Créer un événement"
      this.update_case = false
      this.meeting = new Meeting({ start_at : event.start.format(), end_at : event.end.format(), creator : store.state.auth.currentUser, creator_id : store.state.auth.currentUser.id })
      this.$bvModal.show('modal-event')
    },
    async getMeetings() {
      this.meetings = await this.$store.dispatch('meeting/all', { meeting: this.meeting })
    },
    removeResizer() {
      setInterval( function (){
        document.querySelectorAll(".fc-end-resizer").forEach( function (el){
          el.remove();
        })
      }, 1000 )
    }
  }
}
</script>

<template>
  <div>
    <full-calendar v-if="meetings" :events="meetings" @event-selected="eventSelected" @event-created="eventCreated" :options="config"></full-calendar>
    <agenda-modal v-if="meeting" :meeting="meeting" :title="title" :update_case="update_case" @reloadMeetings="getMeetings"></agenda-modal>
  </div>
</template>
