<script>
import appConfig from '@src/app.config.json'
import store from "@state/store";
import Layout from '@layouts/main'
import CandidateCard from "@components/candidate/candidate-card";
import DomainCandidate from "@components/domain/domain-candidate";

export default {
  page: {
    title: 'Détail d\'un domaine',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  components: { DomainCandidate, Layout, CandidateCard },
  data() {
    return {
      title: '',
      domain: null,
      user : store.state.auth.currentUser
    }
  },
  mounted() {
    this.getDomain()
  },
  methods : {
    async getDomain() {
      this.domain = await this.$store.dispatch('domain/findByName', {name: this.$route.params.name});
      this.title = this.domain.name;
    }
  }
}
</script>

<template>
  <Layout v-if="domain">
    <b-card overlay :img-src="domain.getImageShow()" text-variant="white" class="domain-card text-center">
      <b-card-text>{{ domain.name }}</b-card-text>
    </b-card>
    <domain-candidate v-if="user.isCandidate()" :domain="domain"></domain-candidate>
  </Layout>
</template>
