<script>
import appConfig from '@src/app.config.json'
import Layout from '@layouts/main'
import JobOfferForm from "@components/job-offer/job-offer-form";
import JobOffer from "@src/models/job-offer/JobOffer";
import store from "@state/store";
import Loader from "@components/utils/loader";

export default {
  page: {
    title: 'Edition d\'une annonce',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  components: { Layout, JobOfferForm, Loader },
  data() {
    return {
      title : 'Edition d\'une annonce',
      jobOffer : null,
    }
  },
  mounted() {
    this.getJobOffer();
  },
  methods : {
    async getJobOffer() {
      this.jobOffer = await this.$store.dispatch('jobOffer/find', {id: this.$route.params.id}, )
    }
  }
}
</script>

<template>
  <Layout :title="title">
    <JobOfferForm v-if="jobOffer" :jobOffer="jobOffer" mode="edit"></JobOfferForm>
    <loader v-else></loader>
  </Layout>
</template>
