<script>
import appConfig from '@src/app.config.json'
import Layout from '@layouts/main'
import JobOfferShow from "@components/job-offer/job-offer-show";

export default {
  page: {
    title: 'Affichage d\'une annonce',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  components: { Layout, JobOfferShow },
  data() {
    return {
      title : 'Affichage d\'une annonce',
      jobOffer : null,
    }
  },
  mounted() {
    this.getJobOffer();
  },
  methods : {
    async getJobOffer() {
      this.jobOffer = await this.$store.dispatch('jobOffer/find', {id: this.$route.params.id})
    }
  }
}
</script>

<template>
  <Layout v-if="jobOffer" :title="jobOffer.name">
    <job-offer-show :jobOffer="jobOffer"></job-offer-show>
  </Layout>
</template>
