<script>
import appConfig from '@src/app.config.json'
import Layout from '@layouts/main'
import store from "@state/store";
import MyJobOffersCompany from "@components/job-offer/my-job-offers-company";
import MyJobOffersCandidate from "@components/job-offer/my-job-offers-candidate";

export default {
  name: "my-job-offers",
  page: {
    title: 'Mes offres',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  components: { Layout, MyJobOffersCompany, MyJobOffersCandidate },
  data() {
    return {
      title : 'Mes offres',
      user: null,
    }
  },
  mounted() {
    this.getUser()
  },
  methods : {
    async getUser() {
      this.user = await this.$store.dispatch('user/getUser', { user_id: store.state.auth.currentUser.user.id })
    }
  }
}
</script>

<template>
  <Layout :title="title">
    <my-job-offers-candidate v-if="user && user.isCandidate()"></my-job-offers-candidate>
    <my-job-offers-company v-if="user && user.isCompany()"></my-job-offers-company>
  </Layout>
</template>
