<script>
import store from "@state/store";

export default {
  name: "Subscription",
  data() {
    return {
      user : store.state.auth.currentUser,
      type : store.state.auth.currentUser.subscription_type,
      cardNumber : '4242 4242 4242 4242',
      cardExpiryDate : '03/2026',
      cardCvv : '123',
    }
  },
  methods : {
    changeType(type) {
      this.type = type
    },
    async subscribe() {
      const res = await this.$store.dispatch('user/subscribe', { type: this.type });
      this.$bvToast.toast(res.message, {title: 'Succès'});
      this.user = res.user
      console.log(this.user, this.user.subscription_type);
    },
    async resilliation() {
      const res = await this.$store.dispatch('user/resilliation');
      this.$bvToast.toast(res.message, {title: 'Succès'});
      this.user = res.user
    }
  }
}
</script>

<template>
  <div>
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="text-center">
          <h3 class="mb-2">Nos offres</h3>
          <p class="text-muted w-50 m-auto">
            Découvrez nos 3 offres. Vous trouverez forcement celle qu'il vous faut.
          </p>
        </div>
        <div class="row my-3">
          <div class="col-md-4">
            <div class="card card-pricing" :class="{ 'card-pricing-recommended': type === 1 }">
              <div class="card-body text-center">
                <p class="card-pricing-plan-name font-weight-bold text-uppercase">Découverte</p>
                <span class="card-pricing-icon text-primary">
                  <i class="fe-users"></i>
                </span>
                <h2 class="card-pricing-price">Gratuit</h2>
                <ul class="card-pricing-features">
                  <li>2 annonces publiées maximum</li>
                  <li>5 candidats proposés par annonce</li>
                  <li>Information disponible sur le profil entreprise : Textes, photos</li>
                </ul>
                <button v-if="!user.subscription_type" class="btn btn-primary waves-effect waves-light mt-4 mb-2 width-sm" @click="changeType(1)">Je souscris</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-pricing" :class="{ 'card-pricing-recommended': type === 2 }">
              <div class="card-body text-center">
                <p class="card-pricing-plan-name font-weight-bold text-uppercase">Professionel</p>
                <span class="card-pricing-icon text-primary">
                  <i class="fe-award"></i>
                </span>
                <h2 class="card-pricing-price">
                  500€ <span>/ AN</span><br>
                  <small>42€ <span>/ mois</span></small>
                </h2>
                <ul class="card-pricing-features">
                  <li>10 annonces publiées maximum</li>
                  <li>10 candidats proposés par annonce</li>
                  <li>Informations disponible sur le profil entreprise : Textes, photos, slider, vidéo</li>
                  <li>Tableau de bord comportant des données statistique simple</li>
                </ul>
                <button v-if="!user.subscription_type" class="btn btn-primary waves-effect waves-light mt-4 mb-2 width-sm" @click="changeType(2)">Je souscris</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-pricing" :class="{ 'card-pricing-recommended': type === 3 }">
              <div class="card-body text-center">
                <p class="card-pricing-plan-name font-weight-bold text-uppercase">Enterprise</p>
                <span class="card-pricing-icon text-primary">
                  <i class="fe-aperture"></i>
                </span>
                <h2 class="card-pricing-price">
                  1000€ <span>/ AN</span><br>
                  <small>83€ <span>/ mois</span></small>
                </h2>
                <ul class="card-pricing-features">
                  <li>Nombre d'annonces illimité</li>
                  <li>Nombre de candidats par annonce illimité</li>
                  <li>Information disponibles sur le profil entreprise : Textes, photos, slider, vidéo</li>
                  <li>Tableau de bord comportant des données statistique avancé</li>
                </ul>
                <button v-if="!user.subscription_type" class="btn btn-primary waves-effect waves-light mt-4 mb-2 width-sm" @click="changeType(3)">Je souscris</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!user.subscription_type" class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card">
          <div class="card-body">
            <form @submit.prevent="subscribe">
              <div id="custom-v-pills-payment" class="tab-pane fade active show" role="tabpanel" aria-labelledby="custom-v-pills-payment-tab">
                <div class="border p-3 mb-3 rounded">
                  <div class="float-end">
                    <i class="fab fa-cc-paypal font-24 text-primary"></i>
                  </div>
                  <div class="form-check" data-children-count="1">
                    <input id="BillingOptRadio2" type="radio" name="billingOptions" disabled class="form-check-input">
                    <label class="form-check-label font-16 fw-bold" for="BillingOptRadio2">Payé avec paypal</label>
                  </div>
                </div>
                <div class="border p-3 mb-3 rounded">
                  <div class="float-end">
                    <i class="far fa-credit-card font-24 text-primary"></i>
                  </div>
                  <div class="form-check" data-children-count="1">
                    <input id="BillingOptRadio1" type="radio" checked name="billingOptions" class="form-check-input">
                    <label class="form-check-label font-16 fw-bold" for="BillingOptRadio1">Carte de crédit</label>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <div class="mb-3" data-children-count="1">
                        <label for="card-number" class="form-label">Numero de carte</label>
                        <input id="card-number" v-model="cardNumber" type="text" class="form-control" data-toggle="input-mask"
                               data-mask-format="0000 0000 0000 0000" placeholder="4242 4242 4242 4242"
                               data-kwimpalastatus="alive" data-kwimpalaid="1619963618178-13">
                        <span
                          style="color: initial; font: initial; font-feature-settings: initial; font-kerning: initial; font-optical-sizing: initial; font-variation-settings: initial; forced-color-adjust: initial; text-orientation: initial; text-rendering: initial; -webkit-font-smoothing: initial; -webkit-locale: initial; -webkit-text-orientation: initial; -webkit-writing-mode: initial; writing-mode: initial; zoom: initial; place-content: initial; place-items: initial; place-self: initial; alignment-baseline: initial; animation: initial; appearance: initial; aspect-ratio: initial; backdrop-filter: initial; backface-visibility: initial; background: url(&quot;chrome-extension://fdjamakpfbbddfjaooikfcpapjohcfmg/content/injected/logo-autofill-unknown.svg&quot;) center center / contain no-repeat; background-blend-mode: initial; baseline-shift: initial; block-size: initial; border-block: initial; border: none; border-radius: initial; border-collapse: initial; border-end-end-radius: initial; border-end-start-radius: initial; border-inline: initial; border-start-end-radius: initial; border-start-start-radius: initial; bottom: initial; box-shadow: initial; box-sizing: initial; break-after: initial; break-before: initial; break-inside: initial; buffered-rendering: initial; caption-side: initial; caret-color: initial; clear: initial; clip: initial; clip-path: initial; clip-rule: initial; color-interpolation: initial; color-interpolation-filters: initial; color-rendering: initial; color-scheme: initial; columns: initial; column-fill: initial; gap: initial; column-rule: initial; column-span: initial; contain: initial; contain-intrinsic-size: initial; content: initial; content-visibility: initial; counter-increment: initial; counter-reset: initial; counter-set: initial; cursor: initial; cx: initial; cy: initial; d: initial; display: inline; dominant-baseline: initial; empty-cells: initial; fill: initial; fill-opacity: initial; fill-rule: initial; filter: initial; flex: initial; flex-flow: initial; float: initial; flood-color: initial; flood-opacity: initial; grid: initial; grid-area: initial; height: 16px; hyphens: initial; image-orientation: initial; image-rendering: initial; inline-size: initial; inset-block: initial; inset-inline: initial; isolation: initial; left: 705.984px; letter-spacing: initial; lighting-color: initial; line-break: initial; list-style: initial; margin-block: initial; margin: initial; margin-inline: initial; marker: initial; mask: initial; mask-type: initial; max-block-size: initial; max-height: initial; max-inline-size: initial; max-width: initial; min-block-size: initial; min-height: initial; min-inline-size: initial; min-width: 16px; mix-blend-mode: initial; object-fit: initial; object-position: initial; offset: initial; opacity: 1; order: initial; origin-trial-test-property: initial; orphans: initial; outline: initial; outline-offset: initial; overflow-anchor: initial; overflow-wrap: initial; overflow: initial; overscroll-behavior-block: initial; overscroll-behavior-inline: initial; overscroll-behavior: initial; padding-block: initial; padding: initial; padding-inline: initial; page: initial; page-orientation: initial; paint-order: initial; perspective: initial; perspective-origin: initial; pointer-events: initial; position: absolute; quotes: initial; r: initial; resize: initial; right: initial; ruby-position: initial; rx: initial; ry: initial; scroll-behavior: initial; scroll-margin-block: initial; scroll-margin: initial; scroll-margin-inline: initial; scroll-padding-block: initial; scroll-padding: initial; scroll-padding-inline: initial; scroll-snap-align: initial; scroll-snap-stop: initial; scroll-snap-type: initial; shape-image-threshold: initial; shape-margin: initial; shape-outside: initial; shape-rendering: initial; size: initial; speak: initial; stop-color: initial; stop-opacity: initial; stroke: initial; stroke-dasharray: initial; stroke-dashoffset: initial; stroke-linecap: initial; stroke-linejoin: initial; stroke-miterlimit: initial; stroke-opacity: initial; stroke-width: initial; tab-size: initial; table-layout: initial; text-align: initial; text-align-last: initial; text-anchor: initial; text-combine-upright: initial; text-decoration: initial; text-decoration-skip-ink: initial; text-indent: initial; text-overflow: initial; text-shadow: initial; text-size-adjust: initial; text-transform: initial; text-underline-offset: initial; text-underline-position: initial; top: 435.5px; touch-action: initial; transform: initial; transform-box: initial; transform-origin: initial; transform-style: initial; transition: initial; user-select: initial; vector-effect: initial; vertical-align: initial; visibility: visible; -webkit-app-region: initial; border-spacing: initial; -webkit-border-image: initial; -webkit-box-align: initial; -webkit-box-decoration-break: initial; -webkit-box-direction: initial; -webkit-box-flex: initial; -webkit-box-ordinal-group: initial; -webkit-box-orient: initial; -webkit-box-pack: initial; -webkit-box-reflect: initial; -webkit-highlight: initial; -webkit-hyphenate-character: initial; -webkit-line-break: initial; -webkit-line-clamp: initial; -webkit-mask-box-image: initial; -webkit-mask: initial; -webkit-mask-composite: initial; -webkit-perspective-origin-x: initial; -webkit-perspective-origin-y: initial; -webkit-print-color-adjust: initial; -webkit-rtl-ordering: initial; -webkit-ruby-position: initial; -webkit-tap-highlight-color: initial; -webkit-text-combine: initial; -webkit-text-decorations-in-effect: initial; -webkit-text-emphasis: initial; -webkit-text-emphasis-position: initial; -webkit-text-fill-color: initial; -webkit-text-security: initial; -webkit-text-stroke: initial; -webkit-transform-origin-x: initial; -webkit-transform-origin-y: initial; -webkit-transform-origin-z: initial; -webkit-user-drag: initial; -webkit-user-modify: initial; white-space: initial; widows: initial; width: 16px; will-change: initial; word-break: initial; word-spacing: initial; x: initial; y: initial; z-index: auto;"></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3" data-children-count="1">
                        <label for="card-expiry-date" class="form-label">Date d'expiration</label>
                        <input id="card-expiry-date" v-model="cardExpiryDate" type="text" class="form-control" data-toggle="input-mask"
                               data-mask-format="00/00" placeholder="MM/YY">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3" data-children-count="1">
                        <label for="card-cvv" class="form-label">Code crypto</label>
                        <input id="card-cvv" v-model="cardCvv" type="text" class="form-control" data-toggle="input-mask" data-mask-format="000"
                               placeholder="012" data-kwimpalastatus="alive" data-kwimpalaid="1619963618178-15">
                        <span
                          style="color: initial; font: initial; font-feature-settings: initial; font-kerning: initial; font-optical-sizing: initial; font-variation-settings: initial; forced-color-adjust: initial; text-orientation: initial; text-rendering: initial; -webkit-font-smoothing: initial; -webkit-locale: initial; -webkit-text-orientation: initial; -webkit-writing-mode: initial; writing-mode: initial; zoom: initial; place-content: initial; place-items: initial; place-self: initial; alignment-baseline: initial; animation: initial; appearance: initial; aspect-ratio: initial; backdrop-filter: initial; backface-visibility: initial; background: url(&quot;chrome-extension://fdjamakpfbbddfjaooikfcpapjohcfmg/content/injected/logo-autofill-unknown.svg&quot;) center center / contain no-repeat; background-blend-mode: initial; baseline-shift: initial; block-size: initial; border-block: initial; border: none; border-radius: initial; border-collapse: initial; border-end-end-radius: initial; border-end-start-radius: initial; border-inline: initial; border-start-end-radius: initial; border-start-start-radius: initial; bottom: initial; box-shadow: initial; box-sizing: initial; break-after: initial; break-before: initial; break-inside: initial; buffered-rendering: initial; caption-side: initial; caret-color: initial; clear: initial; clip: initial; clip-path: initial; clip-rule: initial; color-interpolation: initial; color-interpolation-filters: initial; color-rendering: initial; color-scheme: initial; columns: initial; column-fill: initial; gap: initial; column-rule: initial; column-span: initial; contain: initial; contain-intrinsic-size: initial; content: initial; content-visibility: initial; counter-increment: initial; counter-reset: initial; counter-set: initial; cursor: initial; cx: initial; cy: initial; d: initial; display: inline; dominant-baseline: initial; empty-cells: initial; fill: initial; fill-opacity: initial; fill-rule: initial; filter: initial; flex: initial; flex-flow: initial; float: initial; flood-color: initial; flood-opacity: initial; grid: initial; grid-area: initial; height: 16px; hyphens: initial; image-orientation: initial; image-rendering: initial; inline-size: initial; inset-block: initial; inset-inline: initial; isolation: initial; left: 706.484px; letter-spacing: initial; lighting-color: initial; line-break: initial; list-style: initial; margin-block: initial; margin: initial; margin-inline: initial; marker: initial; mask: initial; mask-type: initial; max-block-size: initial; max-height: initial; max-inline-size: initial; max-width: initial; min-block-size: initial; min-height: initial; min-inline-size: initial; min-width: 16px; mix-blend-mode: initial; object-fit: initial; object-position: initial; offset: initial; opacity: 1; order: initial; origin-trial-test-property: initial; orphans: initial; outline: initial; outline-offset: initial; overflow-anchor: initial; overflow-wrap: initial; overflow: initial; overscroll-behavior-block: initial; overscroll-behavior-inline: initial; overscroll-behavior: initial; padding-block: initial; padding: initial; padding-inline: initial; page: initial; page-orientation: initial; paint-order: initial; perspective: initial; perspective-origin: initial; pointer-events: initial; position: absolute; quotes: initial; r: initial; resize: initial; right: initial; ruby-position: initial; rx: initial; ry: initial; scroll-behavior: initial; scroll-margin-block: initial; scroll-margin: initial; scroll-margin-inline: initial; scroll-padding-block: initial; scroll-padding: initial; scroll-padding-inline: initial; scroll-snap-align: initial; scroll-snap-stop: initial; scroll-snap-type: initial; shape-image-threshold: initial; shape-margin: initial; shape-outside: initial; shape-rendering: initial; size: initial; speak: initial; stop-color: initial; stop-opacity: initial; stroke: initial; stroke-dasharray: initial; stroke-dashoffset: initial; stroke-linecap: initial; stroke-linejoin: initial; stroke-miterlimit: initial; stroke-opacity: initial; stroke-width: initial; tab-size: initial; table-layout: initial; text-align: initial; text-align-last: initial; text-anchor: initial; text-combine-upright: initial; text-decoration: initial; text-decoration-skip-ink: initial; text-indent: initial; text-overflow: initial; text-shadow: initial; text-size-adjust: initial; text-transform: initial; text-underline-offset: initial; text-underline-position: initial; top: 525.875px; touch-action: initial; transform: initial; transform-box: initial; transform-origin: initial; transform-style: initial; transition: initial; user-select: initial; vector-effect: initial; vertical-align: initial; visibility: visible; -webkit-app-region: initial; border-spacing: initial; -webkit-border-image: initial; -webkit-box-align: initial; -webkit-box-decoration-break: initial; -webkit-box-direction: initial; -webkit-box-flex: initial; -webkit-box-ordinal-group: initial; -webkit-box-orient: initial; -webkit-box-pack: initial; -webkit-box-reflect: initial; -webkit-highlight: initial; -webkit-hyphenate-character: initial; -webkit-line-break: initial; -webkit-line-clamp: initial; -webkit-mask-box-image: initial; -webkit-mask: initial; -webkit-mask-composite: initial; -webkit-perspective-origin-x: initial; -webkit-perspective-origin-y: initial; -webkit-print-color-adjust: initial; -webkit-rtl-ordering: initial; -webkit-ruby-position: initial; -webkit-tap-highlight-color: initial; -webkit-text-combine: initial; -webkit-text-decorations-in-effect: initial; -webkit-text-emphasis: initial; -webkit-text-emphasis-position: initial; -webkit-text-fill-color: initial; -webkit-text-security: initial; -webkit-text-stroke: initial; -webkit-transform-origin-x: initial; -webkit-transform-origin-y: initial; -webkit-transform-origin-z: initial; -webkit-user-drag: initial; -webkit-user-modify: initial; white-space: initial; widows: initial; width: 16px; will-change: initial; word-break: initial; word-spacing: initial; x: initial; y: initial; z-index: auto;"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="float-right">
                  <button type="submit" :disabled="!(cardCvv && cardExpiryDate && cardNumber && type)" class="btn btn-success">
                    <i class="mdi mdi-cash-multiple me-1"></i> Valider le paiement
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="alert alert-warning">
          <h4 class="h4 text-centerfont-weight-bold">Environnement de test de Stripe</h4>
          <div class="my-3">
            <p>Voici la carte de test pour l'environnement de test de Stripe.</p>
          </div>
          <div>
            <ul class="pl-4 mt-2" style="list-style-type: circle; ">
              <li>Numéro : 4242 4242 4242 4242</li>
              <li>Date expiration (date future) : 06/2023</li>
              <li>Cryptogramme : 123</li>
            </ul>
          </div>
          <div>
            <p>Pour consulter le dashboard stripe rendez-vous ici : <a href="https://dashboard.stripe.com">https://dashboard.stripe.com</a></p>
            <p>Login: gueneau.antoine@gmail.com</p>
            <p>Mot de passe : v57WJk8T5Ldie7</p>
            <p>Rien n'est confidentiel ni sensible.</p>
          </div>
        </div>
      </div>
    </div>
    <div v-if="user.subscription_type" class="row justify-content-center">
      <div class="card col-xl-10">
        <div class="card-body text-center">
          <p>Vous êtes actuellement engagé avec l'offre {{ user.getSubscription() }}</p>
          <button class="btn btn-danger" @click="resilliation">Resillier mon abonnement imédiatement</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.card-pricing-features{
  min-height: 300px;
}

.card-pricing-recommended{
  button{
    background-color: white;
    color: black;
  }
}
</style>
