<script>
import store from "@state/store";

export default {
  name: "ChatContentMessage",
  props : {
    currentSpokesPerson : null,
    messages : null,
    currentMessage : null,
  },
  data() {
    return {
      currentUser : store.state.auth.currentUser,
    }
  },
  mounted() {
    console.log(this.messages);
  },
  methods : {
    async sendMessage() {
      this.currentMessage.created_at = Date();
      this.currentMessage.updated_at = Date();
      const new_message = this.currentMessage;
      this.messages.push( new_message );
      this.spokesPersons = await this.$store.dispatch('message/create', { message : new_message })
      var objDiv = document.querySelector('.conversation-list');
      objDiv.scrollTop = objDiv.scrollHeight;
      this.$emit('sentMessage')
    }
  }
}
</script>

<template>
  <div class="card">
    <div class="card-body py-2 px-3 border-bottom border-light">
      <div v-if="currentSpokesPerson" class="media py-1">
        <img :src="currentSpokesPerson.media()" class="mr-2 rounded-circle" height="36">
        <div class="media-body mt-2">
          <h5 class="mt-0 mb-0 font-15">
            <a href="contacts-profile.html" class="text-reset">{{ currentSpokesPerson.fullname }}</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul class="conversation-list" data-simplebar="init" style="max-height: 460px">
        <li v-for="message in messages" v-if="messages" class="clearfix" :class="{ 'odd': message.author_id === currentUser.user.id }">
          <div class="chat-avatar">
            <img :src="message.author_id === currentUser.user.id ?  currentUser.media() : currentSpokesPerson.media()" class="rounded">
            <i>{{ message.formatCreatedAt() }}</i>
          </div>
          <div class="conversation-text">
            <div class="ctext-wrap">
              <i>{{ message.author.fullname }}</i>
              <p>{{ message.content }}</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="row">
        <div class="col">
          <div class="mt-2 p-3 rounded">
            <form id="chat-form" class="needs-validation" name="chat-form" @submit.prevent="sendMessage">
              <div class="row">
                <div class="col mb-2 mb-sm-0">
                  <b-form-textarea
                    v-if="currentMessage"
                    v-model="currentMessage.content"
                    placeholder="Votre message"
                    required
                    rows="1"
                  ></b-form-textarea>
                </div>
                <div class="col-sm-auto">
                  <div class="btn-group">
                    <button type="submit" class="btn btn-success chat-send btn-block"><i class="fe-send"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
