<script>
import NavBar from '@components/layout/nav-bar'
import SideBar from '@components/layout/side-bar'
import store from '@state/store';
import WelcomeText from "@components/layout/welcome-text";
import FooterApp from "@components/layout/footer-app";

export default {
  components: { NavBar, SideBar, WelcomeText, FooterApp },
  props : {
    title : String
  },
  data() {
    return {
      isCandidate: store.state.auth.currentUser.isCandidate()
    }
  },
  created: () => {
    document.body.classList.remove('authentication-bg')
    document.body.classList.remove('authentication-bg-pattern')
  }
}
</script>

<template>
  <div id="wrapper" :class="{ bg_yellow: isCandidate }">
    <SideBar/>
    <div class="content-page">
      <WelcomeText></WelcomeText>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h1 class="page-title float-left">{{ title }}</h1>
                <NavBar :user="this.$store.state.auth.currentUser"/>
              </div>
            </div>
          </div>
          <slot/>
        </div>
      </div>
      <FooterApp></FooterApp>
    </div>
  </div>
</template>
