<script>
import CompanyEditBtn from "@components/company/company-edit-btn";
import NoInfo from "@components/utils/no-info";
import { LMap, LTileLayer, LMarker } from 'vue2-leaflet';
import MyPhoto from "@components/user/my-photo";

export default {
  name: "CompanyShow",
  components: { CompanyEditBtn, NoInfo, LMap, LTileLayer, LMarker, MyPhoto },
  props : {
    company : null,
    options : {}
  },
  data() {
    return {
      marker : null,
      url : "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      icon : L.icon({
        iconUrl : require('leaflet/dist/images/marker-icon.png'),
      })
    }
  },
  mounted() {
    this.initMap()
  },
  methods : {
    async initMap() {
      if (this.company.address && this.company.user.city) {
        const search = (this.company.address + ' ' +this.company.user.city).replace(/\s/g, '+');
        fetch('https://api-adresse.data.gouv.fr/search/?q=' + search, {method: 'get'}).then(response => response.json()).then(results => {
          if( results.features[0].properties.score > 0.4 ){
            const coordinates = results.features[0].geometry.coordinates
            this.marker = L.latLng(coordinates[1], coordinates[0]);
          }
        });
      }
    }
  }
}
</script>

<template>
  <div v-if="company" id="fiche_profile">
    <ul id="bar_info_user">
      <MyPhoto :user="company"></MyPhoto>
      <li>{{ company.fullname }}</li>
      <li v-if="company.user.city"><i class="fas fa-map-marker-alt"></i>&nbsp;{{ company.user.city }} <span v-if="company.address">, {{ company.address }}</span></li>
      <li v-if="company.sector"><i class="fas fa-globe-europe"></i>&nbsp;{{ company.sector }}</li>
      <li v-if="company.user.website">
        <a :href="'//' + company.user.website" target="_blank">
          <i class="fas fa-link" data-toggle="tooltip" data-placement="top" title="Site web"></i>
        </a>
      </li>
      <li v-if="company.user.link_facebook"><a :href="'//' + company.user.link_facebook" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
      <li v-if="company.user.link_twitter"><a :href="'//' + company.user.link_twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li v-if="company.user.link_instagram"><a :href="'//' + company.user.link_instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li v-if="company.user.link_linkedin"><a :href="'//' + company.user.link_linkedin" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    <div v-if="company.medium_age || company.nb_ca || company.nb_collab" class="row">
      <div class="col-md-12">
        <b-card>
        <b-carousel id="carousel" :interval="3000" controls indicators img-width="1024" img-height="180">
          <b-carousel-slide v-if="company.medium_age" img-src="https://picsum.photos/1024/180/?image=2">
            <p>Âge moyen : {{ company.medium_age }} ans</p>
          </b-carousel-slide>
          <b-carousel-slide v-if="company.nb_ca" img-src="https://picsum.photos/1024/180/?image=3">
            <p>Chiffre d'affaire en 2020 : {{ parseInt(company.nb_ca).toLocaleString() }} €</p>
          </b-carousel-slide>
          <b-carousel-slide v-if="company.nb_collab" img-src="https://picsum.photos/1024/180/?image=5">
            <p>Collaborateurs : {{ company.nb_collab }}</p>
          </b-carousel-slide>
        </b-carousel>
        </b-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <b-card title="L'entreprise">
          <b-card-text>
            <span v-if="company.user.about">{{ company.user.about }}</span>
            <NoInfo v-else></NoInfo>
          </b-card-text>
        </b-card>
      </div>
      <div class="col-md-6">
        <b-card title="Ce qu'ils recherchent chez leurs collaborateur">
          <b-card-text v-if="company.expectations_collaborators">{{ company.expectations_collaborators }}</b-card-text>
          <NoInfo v-else></NoInfo>
        </b-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <b-card title="Nous situer">
          <b-card-text v-if="marker" class="text-center" style="height: 300px">
            <LMap :zoom="13" :center="marker">
              <LTileLayer :url="url"></LTileLayer>
              <LMarker :icon="icon" :lat-lng="marker"></LMarker>
            </LMap>
          </b-card-text>
          <NoInfo v-else></NoInfo>
        </b-card>
      </div>
      <div class="col-md-6">
        <b-card title="Bon à savoir">
          <b-card-text v-if="company.good_to_know">{{ company.good_to_know }}</b-card-text>
          <NoInfo v-else></NoInfo>
        </b-card>
        <b-card title="Nos outils">
          <b-card-text v-if="company.tools">{{ company.tools }}</b-card-text>
          <NoInfo v-else></NoInfo>
        </b-card>
        <b-card title="Nos clients">
          <b-card-text v-if="company.clients">{{ company.clients }}</b-card-text>
          <NoInfo v-else></NoInfo>
        </b-card>
      </div>
    </div>
    <div v-if="options.canEdit" class="d-inline text-center">
      <CompanyEditBtn :company="company"></CompanyEditBtn>
    </div>
  </div>
</template>
