<script>
  import CompanyEditInfos from "@components/company/company-edit-infos";
  import CompanySliderInfos from "@components/company/company-slider-infos";
  import EditMySocialsNetwork from "@components/user/edit-my-socials-network";

  export default {
    name: "company-edit-btn",
    components: { EditMySocialsNetwork, CompanySliderInfos, CompanyEditInfos },
    props : {
      company : null,
    },
    methods: {
      clickPersonalInfo() {
        this.$bvModal.hide('bv-edit-profil')
        this.$bvModal.show('bv-edit-personal-infos')
      },
      clickSocialNetwork() {
        this.$bvModal.hide('bv-edit-profil')
        this.$bvModal.show('bv-edit-social-network')
      },
      clickSliderInfo() {
        this.$bvModal.hide('bv-edit-profil')
        this.$bvModal.show('bv-edit-slider-infos')
      },
      afterUpdate(data) {
        this.$bvToast.toast(data.message, {title: 'Succès'})
        this.$bvModal.hide(data.modal)
      },
    }
  }
</script>

<template>
  <div>
    <b-button variant="primary" class="text-center" @click="$bvModal.show('bv-edit-profil')">Modifier les informations</b-button>
    <router-link :to="{ name: 'subscription' }" class="waves-effec">
      <b-button variant="primary" class="ml-3 text-center">Gérer mon abonnement</b-button>
    </router-link>
    <b-modal id="bv-edit-profil" centered hide-footer>
      <template #modal-title>Gérer les informations de l'entreprise</template>
      <div class="text-center">
        <p><b-button variant="primary" @click="clickPersonalInfo">Modifier les informations de l'entreprise</b-button></p>
        <p><b-button variant="primary" @click="clickSliderInfo">Modifier le slider de présentation de l'entreprise</b-button></p>
        <p><b-button variant="primary" @click="clickSocialNetwork">Modifier les réseaux sociaux de l'entreprise</b-button></p>
      </div>
    </b-modal>
    <b-modal id="bv-edit-personal-infos" centered size="lg" hide-footer>
      <template #modal-title>Informations sur l'entreprise</template>
      <div class="text-center">
        <company-edit-infos v-if="company" :user="company" @updated="afterUpdate"></company-edit-infos>
      </div>
    </b-modal>
    <b-modal id="bv-edit-social-network" centered size="lg" hide-footer>
      <template #modal-title>Les réseaux sociaux de l'entreprise</template>
      <div class="text-center">
        <edit-my-socials-network v-if="company" :user="company" @updated="afterUpdate"></edit-my-socials-network>
      </div>
    </b-modal>
    <b-modal id="bv-edit-slider-infos" centered size="lg" hide-footer>
      <template #modal-title>Les informations slider de l'entreprise</template>
      <div class="text-center">
        <company-slider-infos v-if="company" :user="company" @updated="afterUpdate"></company-slider-infos>
      </div>
    </b-modal>
  </div>
</template>
