<script>
import SaveBtn from "@components/utils/save-btn";

export default {
  name: "CompanyEditInfos",
  components: { SaveBtn },
  props : {
    user : null
  },
  methods : {
    async submit() {
      const message = await this.$store.dispatch('user/update', {id : this.user.user.id, user : this.user})
      this.$bvModal.hide('bv-edit-personal-infos')
      this.$bvToast.toast(message, {title: 'Succès'})
    }
  }
}
</script>

<template>
  <form @submit.prevent="submit">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="companyName">Nom de l'entreprise <span>*</span></label>
          <input id="companyName" v-model="user.name" type="text" class="form-control" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="email">Secteur d'activité</label>
          <input id="sector" v-model="user.sector" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="email">Email <span>*</span></label>
          <input id="email" v-model="user.user.email" type="email" class="form-control" required>
        </div>
      </div>
      <div class="col-md-6">
        <b-form-group label="Adresse" label-for="address">
          <b-form-input id="address" v-model="user.address"></b-form-input>
        </b-form-group>
      </div>
      <div class="col-md-6">
        <b-form-group label="Avatar" label-for="avatar">
          <b-form-file id="avatar" v-model="user.avatar"></b-form-file>
        </b-form-group>
      </div>
      <div class="col-md-6">
        <b-form-group label="Ville" label-for="city">
          <b-form-input id="city" v-model="user.user.city"></b-form-input>
        </b-form-group>
      </div>
    </div>
    <hr>
    <b-form-group label="Description de l'entreprise" label-for="about">
      <b-form-textarea id="about" v-model="user.user.about"></b-form-textarea>
    </b-form-group>
    <b-form-group label="Ce que l'entreprise attend de ses collaborateurs" label-for="expectations_collaborators">
      <b-form-textarea id="expectations_collaborators" v-model="user.expectations_collaborators"></b-form-textarea>
    </b-form-group>
    <b-form-group label="Bon à savoir" label-for="good_to_know">
      <b-form-textarea id="good_to_know" v-model="user.good_to_know"></b-form-textarea>
    </b-form-group>
    <b-form-group label="Nos outils" label-for="tools">
      <b-form-textarea id="tools" v-model="user.tools"></b-form-textarea>
    </b-form-group>
    <b-form-group label="Nos clients" label-for="clients">
      <b-form-textarea id="clients" v-model="user.clients"></b-form-textarea>
    </b-form-group>
    <SaveBtn></SaveBtn>
  </form>
</template>
