<script>
import SaveBtn from "@components/utils/save-btn";

export default {
  name: "EditMySocialsNetwork",
  components: { SaveBtn },
  props : {
    user : null
  },
  methods : {
    async saveInfos() {
      const message = await this.$store.dispatch('user/update', { id : this.user.user.id, user: this.user })
      this.$emit('updated', {message : message, modal : 'bv-edit-social-network'})
    }
  }
}
</script>

<template>
  <form @submit.prevent="saveInfos">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="social-fb">Facebook</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fab fa-facebook-square"></i></span>
            </div>
            <input id="social-fb" v-model="user.user.link_facebook" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="social-tw">Twitter</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fab fa-twitter"></i></span>
            </div>
            <input id="social-tw" v-model="user.user.link_twitter" type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="social-insta">Instagram</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fab fa-instagram"></i></span>
            </div>
            <input id="social-insta" v-model="user.user.link_instagram" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="social-lin">Linkedin</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fab fa-linkedin"></i></span>
            </div>
            <input id="social-lin" v-model="user.user.link_linkedin" type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="social-insta">Site web</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-link" data-toggle="tooltip" data-placement="top" title="Site web"></i></span>
            </div>
            <input id="website" v-model="user.user.website" type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <SaveBtn></SaveBtn>
  </form>
</template>
