<template>
  <form @submit.prevent="submit">
    <img :src="user.media()" class="rounded-circle img-thumbnail" @click="lunchModal">
    <b-modal id="modal-edit-photo" title="Modifier votre photo" centered hide-footer>
      <InputFile></InputFile>
      <SaveBtn></SaveBtn>
    </b-modal>
  </form>
</template>

<script>
import InputFile from '@components/ged/input-file'
import SaveBtn from "@components/utils/save-btn";

export default {
  name: "MyPhoto",
  components : { InputFile, SaveBtn },
  props : {
    user: null,
  },
  methods: {
    lunchModal(){
      // this.$bvModal.show('modal-edit-photo')
    },
    submit(){

    }
  }
}
</script>

<style>
  #fiche_profile img{
    cursor: pointer;
  }
</style>
