<script>
export default {
  name: "Faq"
}
</script>

<template>
  <div class="accordion" role="tablist">
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button v-b-toggle.accordion-21 block variant="primary">Pourquoi Monday-muuv ?</b-button>
      </b-card-header>
      <b-collapse id="accordion-21" visible accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mauris tellus, ornare id iaculis nec, luctus sed odio. Proin in turpis at diam convallis interdum. Mauris iaculis interdum ornare. Aliquam erat volutpat. Nulla facilisi. Aenean volutpat ex in pulvinar tristique. Sed molestie nunc eget nulla ornare hendrerit. Pellentesque a ligula lectus. Integer ullamcorper iaculis eros non elementum. Nulla vitae risus blandit, venenatis arcu ut, consequat tellus. Vestibulum dignissim felis nunc, vel elementum purus placerat sed.
          </b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button v-b-toggle.accordion-22 block variant="primary">Comment supprimer mon compte ?</b-button>
      </b-card-header>
      <b-collapse id="accordion-22" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>
            Mauris fringilla tortor eu ullamcorper tincidunt. Proin vitae eros vitae neque fermentum suscipit. Etiam et lectus purus. Sed diam lacus, faucibus ac erat ac, consequat dapibus enim. In molestie sagittis cursus. Nulla finibus, risus facilisis pellentesque varius, risus justo dignissim tellus, vitae pharetra ex tellus at leo. Nulla maximus libero et risus ornare cursus. Nullam a egestas dui, nec tincidunt nunc. Cras sit amet imperdiet risus, id suscipit diam. Aenean ut lorem ac felis tincidunt gravida sed congue nulla. Praesent condimentum diam tortor. Nam rhoncus hendrerit enim, a ultricies nibh accumsan a.
          </b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button v-b-toggle.accordion-23 block variant="primary">Comment changer d'offre ?</b-button>
      </b-card-header>
      <b-collapse id="accordion-23" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>
            Aliquam erat volutpat. Etiam vestibulum risus eu lorem ullamcorper, ut placerat leo congue. Curabitur elementum felis nisl, a vulputate sem varius non. Suspendisse condimentum libero id ornare fringilla. Maecenas in malesuada mauris. Vestibulum eu metus elementum, sodales risus et, consequat leo. Quisque vitae libero fringilla, aliquet leo luctus, placerat libero. Aenean tempus erat quis lacus dictum tincidunt. In hac habitasse platea dictumst. Praesent molestie, mauris feugiat mollis mollis, ex metus luctus enim, nec varius tellus libero eu justo. Mauris maximus ante sit amet tortor vestibulum, vitae dapibus lacus tristique. Mauris eget eros vel risus imperdiet mattis hendrerit vel neque. Sed ut orci id arcu gravida fringilla. Maecenas scelerisque lorem lobortis, lobortis velit ac, tincidunt tellus. Aenean nec feugiat ex, ullamcorper sollicitudin purus. Integer sollicitudin velit semper, gravida ex at, interdum lectus.
          </b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>
