<script>
import Contact from "@src/models/contact/Contact";
import store from "@state/store";
import modules from "@src/constantes/modules";
import devices from "@src/constantes/devides";

export default {
  name: "modal_contact",
  mounted() {
    const user = store.state.auth.currentUser
    console.log(user);
    this.contact = new Contact({user_id : user.user.id });
    this.modules = user.isCandidate ? modules.filter( module => module.on_candidate ) : modules
  },
  data() {
    return {
      contact: Contact,
      devices : devices
    };
  },
  methods: {
    async submit() {
      const message = await this.$store.dispatch('contact/create', {contact : this.contact});
      this.$bvToast.toast(message, {title: 'Succès'});
      this.$bvModal.hide('modal-ano')
      this.$bvModal.hide('modal-question')
    }
  }
}
</script>

<template>
  <div>
    <form @submit.prevent="submit">
      <b-form-group label="Module concerné" label-for="status">
        <b-form-select v-model="contact.module" :options="modules"></b-form-select>
      </b-form-group>
      <b-form-group label="Contenu" label-for="status">
        <b-form-textarea
          id="textarea"
          v-model="contact.content"
          placeholder="Decrivez ici le contenu de votre demande"
          rows="5"
        ></b-form-textarea>
      </b-form-group>
      <b-button type="submit" class="mt-2 float-right" variant="primary">Envoyer</b-button>
    </form>
  </div>
</template>


