<script>
import SaveBtn from "@components/utils/save-btn";

export default {
  name: "EditMyExpectations",
  components: { SaveBtn },
  props : {
    candidate : null
  },
  data() {
    return {
      expectations : [],
      selected_expectations : [],
      selected_expectations_id : []
    }
  },
  mounted() {
    this.getExpectations()
    this.selectedExpectations()
  },
  methods : {
    selectedExpectations() {
      this.candidate.expectations.map((expectation) => {
        this.selected_expectations.push(expectation)
        this.selected_expectations_id.push(expectation.id)
      });
    },
    async getExpectations() {
      this.expectations = await this.$store.dispatch('expectation/all')
    },
    async saveInfos() {
      const message = await this.$store.dispatch('expectation/link_user', { expectations : this.selected_expectations })
      this.$emit('updated', {message : message, modal : 'bv-edit-looking-for-company'})
    },
    toggleExpectation(expectation) {
      if(this.selected_expectations.includes(expectation)){
        this.selected_expectations = this.selected_expectations.filter( selected_expectation => selected_expectation.id !== expectation.id )
      }else{
        this.selected_expectations.push(expectation);
      }
    }
  }
}
</script>

<template>
  <form @submit.prevent="saveInfos">
    <div class="row">
        <div class="col-md-6">
          <h2 class="text-center">Relationnel</h2>
          <b-form-checkbox @change="toggleExpectation(expectation)" :checked="selected_expectations_id.includes(expectation.id)" v-for="expectation in expectations" v-if="expectation.category_id === 1">{{ expectation.name }}</b-form-checkbox>
        </div>
        <div class="col-md-6">
          <h2 class="text-center">Avantages</h2>
          <b-form-checkbox @change="toggleExpectation(expectation)" :checked="selected_expectations_id.includes(expectation.id)" v-for="expectation in expectations" v-if="expectation.category_id === 2">{{ expectation.name }}</b-form-checkbox>
        </div>
      </div>
    <save-btn></save-btn>
  </form>
</template>
