<script>
import ShowMyExpectations from "@components/candidate/expectation/show-my-expectations"

export default {
  name: "expectations",
  props: {
    candidate : null
  },
  components : { ShowMyExpectations }
}
</script>

<template>
  <b-card>
    <b-card-title>Ce que je cherche dans une entreprise</b-card-title>
    <b-card-text>
      <show-my-expectations v-if="candidate" :candidate="candidate"></show-my-expectations>
    </b-card-text>
  </b-card>
</template>
