<script>
export default {
  name: "ShowMyExpectations",
  props : {
    candidate : null
  },
  data() {
    return {
      expectations : []
    }
  }
}
</script>

<template>
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Relationnel</h2>
      <ul>
        <li v-for="expectation in candidate.expectations" v-if="expectation.category_id === 1">{{ expectation.name }}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Avantages</h2>
      <ul>
        <li v-for="expectation in candidate.expectations" v-if="expectation.category_id === 2">{{ expectation.name }}</li>
      </ul>
    </div>
  </div>
</template>
