<script>
  export default {
    name: "FooterApp"
  }
</script>

<template>
  <p class="text-white mt-3 text-center">2021 - Monday Muuv -
    <router-link class="text-light" tag="a" :to="{ name: 'general_conditions' }">CGU</router-link>
  </p>
</template>
