<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  name: "HeaderBell",
  components : { VuePerfectScrollbar },
  data() {
    return {
      notifications : []
    }
  },
  mounted() {
    this.getNotifications()
  },
  methods : {
    async getNotifications() {
      this.notifications = await this.$store.dispatch('notification/all')
    },
    async allMarkedAsRead() {
      await this.$store.dispatch('notification/allMarkedAsRead')
      await this.getNotifications()
    },
    goToNotif(notification) {
      if( notification.link ){
        this.$router.push(notification.link);
      }
    }
  }
}
</script>

<template>
  <b-nav-item-dropdown right class="notification-list">
    <template slot="button-content" class="nav-link dropdown-toggle waves-effect waves-light">
      <i class="fe-bell noti-icon text-secondary"></i>
      <span v-if="notifications.length" class="badge badge-danger rounded-circle noti-icon-badge">{{ notifications.length }}</span>
    </template>
    <b-dropdown-text href="#" class="dropdown-item noti-title">
      <h5 class="m-0">
          <span v-if="notifications.length" class="float-right">
            <a @click="allMarkedAsRead" href="#" class="text-dark">
              <small>Marqué comme vus</small>
            </a>
          </span>
        Notifications
      </h5>
    </b-dropdown-text>
    <b-dropdown-text v-if="notifications.length" href="#" class="p-0">
      <VuePerfectScrollbar v-once class="noti-scroll">
        <a href="#" @click="goToNotif(notification)" v-for="notification in notifications" class="dropdown-item notify-item">
          <div class="notify-icon text-secondary bg-primary">
            <span v-html="notification.icon"></span>
          </div>
          <p class="notify-details">{{ notification.name }}</p>
          <p class="text-muted mb-0 user-msg">
            <small>{{ notification.content }}</small>
          </p>
        </a>
      </VuePerfectScrollbar>
    </b-dropdown-text>
    <p v-else class="text-center">Aucune nouvelle notification</p>
  </b-nav-item-dropdown>
</template>

<style>
.notification-list .dropdown-menu.show {
  width: 385px !important;
}
</style>
