<script>
import HeaderBell from "@components/layout/header-bell";

export default {
  components: { HeaderBell },
  props: {
    user: {}
  }
}
</script>

<template>
  <div class="float-right">
    <b-navbar>
      <b-navbar-nav>
        <b-nav-item :to="{ name: 'settings' }">
          <i class="fas fa-cog font-22"></i>
        </b-nav-item>
        <HeaderBell></HeaderBell>
        <b-nav-item-dropdown right menu-class="profile-dropdown">
          <template slot="button-content">
            <div class="nav-user mr-0 waves-effect waves-light">
              <img :src="user.media()" class="rounded-circle"/>
            </div>
          </template>
          <router-link :to="{ name: 'my_profile' }" tag="a" class="waves-effect dropdown-item">
            <i class="fe-user mr-1"></i>
            <span>Mon profil</span>
          </router-link>
          <b-dropdown-divider></b-dropdown-divider>
          <router-link :to="{ name: 'logout' }" tag="a" class="waves-effect dropdown-item">
            <i class="fe-user mr-1"></i>
            <span>Deconnexion</span>
          </router-link>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
