<script>
import { authComputed } from '@state/helpers'
import MetisMenu from 'metismenujs/dist/metismenujs'

export default {
  computed: {
    ...authComputed,
  },
  mounted: function() {
    new MetisMenu('#side-menu')
  },
  methods : {
    mouseover : function (){

    }
  }
}
</script>

<template>
  <div id="sidebar-menu">
    <a href="/" class="logo text-center">
      <span class="logo-lg">
        <img src="@assets/images/logo/logo_white.png" height="70"/>
      </span>
    </a>
    <ul id="side-menu" class="metismenu pt-4">
      <li :class="{ active: this.$route.name === 'dashboard' }" @mouseover="mouseover">
        <router-link :to="{ name: 'dashboard' }" class="waves-effect">
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </router-link>
      </li>
      <li :class="{ active: this.$route.name === 'my_job_offers' }" class="hover">
        <router-link :to="{ name: 'my_job_offers' }" class="waves-effect">
          <i class="fas fa-users"></i>
          <span v-if="currentUser.isCompany()">Recrutement</span>
          <span v-else>Propositions</span>
        </router-link>
      </li>
      <li v-if="currentUser.isCompany()" :class="{ active: this.$route.name === 'recruitment' }">
        <router-link :to="{ name: 'recruitment' }" class="waves-effect">
          <i class="fas fa-check"></i>
          <span>Mes annonces</span>
        </router-link>
      </li>
      <li :class="{ active: this.$route.name === 'chat' }">
        <router-link :to="{ name: 'chat' }" class="waves-effect">
          <i class="fas fa-comment"></i>
          <span>Messagerie</span>
        </router-link>
      </li>
      <li :class="{ active: this.$route.name === 'documents' }">
        <router-link :to="{ name: 'documents' }" class="waves-effect">
          <i class="fe-folder-plus"></i>
          <span>Documents</span>
        </router-link>
      </li>
      <li :class="{ active: this.$route.name === 'agenda' }">
        <router-link :to="{ name: 'agenda' }" class="waves-effect">
          <i class=" fas fa-address-book"></i>
          <span>Agenda</span>
        </router-link>
      </li>
      <li :class="{ active: this.$route.name === 'help' }">
        <router-link :to="{ name: 'help' }" class="waves-effect">
          <i class="fas fa-question"></i>
          <span>Besoin d'aide</span>
        </router-link>
      </li>
      <li :class="{ active: this.$route.name === 'my_profile' }">
        <router-link :to="{ name: 'my_profile' }" class="waves-effect">
          <i class="fas fa-user"></i>
          <span>Mon profil</span>
        </router-link>
      </li>
      <li v-if="currentUser.isCompany()" :class="{ active: this.$route.name === 'subscription' }">
        <router-link :to="{ name: 'subscription' }" class="waves-effect">
          <i class="fas fa-money-check"></i>
          <span>Facturation</span>
        </router-link>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</template>
