<script>
  export default {
    name: "WelcomeText"
  }
</script>

<template>
  <p id="welcome_text" class="text-white text-center">Welcome {{ this.$store.state.auth.currentUser.fullname }} !</p>
</template>
