<template>
  <div>
    <vue-dropzone id="drop1" multiple="false" :options="dropOptions"></vue-dropzone>
  </div>
</template>

<script>
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import vueDropzone from "vue2-dropzone";

export default {
  name: "input-file",
  components: {
    vueDropzone
  },
  methods : {

  },
  data: () => ({
    dropOptions: {
      url: "https://httpbin.org/post",
      dictDefaultMessage : 'Déposer votre fichier ici'
    }
  }),
}
</script>

<style>
  .vue-dropzone{
    border: 2px dashed #e5e5e5
  }
  .dropzone .dz-message {
    margin: 2.8em 0;
  }
</style>
