<script>
import Layout from '@layouts/auth'
import { authMethods } from '@state/helpers'
import axios from "axios";

export default {
  page: {
    title: 'Connexion',
  },
  components: { Layout },
  data() {
    return {
      email: '6TM-hegyd@gmail.com',
      password: 'password',
      authError: null,
      tryingToLogIn: false,
      isAuthError: false,
      type: 'Company',
    }
  },
  methods: {
    ...authMethods,
    // Try to log the user in with the username
    // and password they provided.
    tryToLogIn() {
      this.tryingToLogIn = true
      // Reset the authError if it existed.
      this.authError = null
      return this.logIn({
        email: this.email,
        password: this.password,
      })
        .then((token) => {
          this.tryingToLogIn = false
          this.isAuthError = false
          // Redirect to the originally requested page, or to the home page
          this.$router.push(this.$route.query.redirectFrom || { name: 'dashboard' })
        })
        .catch((error) => {
          this.tryingToLogIn = false
          this.authError = error.response? error.response.data.message: ''
          this.isAuthError = true
        })
    },
    loginGoogle() {
      axios.get('api/login/google').then(response => {
        window.location.href = response.data.url;
      });
    },
    changeColor() {
      this.type === 'Candidate' ?  document.body.classList.add('bg_yellow') : document.body.classList.remove('bg_yellow');
    }
  },
}
</script>

<template>
  <Layout>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
              <a href="/">
                <span><img src="@assets/images/logo/logo.png" height="60" class="image_logo_login"/></span>
              </a>
            </div>
            <b-alert v-model="isAuthError" class="mt-2" variant="danger" dismissible>{{authError}}</b-alert>
            <b-form @submit.prevent="tryToLogIn">
              <b-form-group label="Vous êtes">
                <b-form-radio-group id="type" v-model="type" name="radio-sub-component" @change="changeColor">
                  <b-form-radio v-model="type" value='Candidate'>Un candidat</b-form-radio>
                  <b-form-radio value='Company'>Une entreprise</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
              <b-form-group id="input-group-1" label="Email" label-for="input-1">
                <b-form-input id="input-1" v-model="email" type="text" required placeholder="Entrez votre email"></b-form-input>
              </b-form-group>
              <b-form-group id="input-group-2" label="Mot de passe" label-for="input-2">
                <b-form-input id="input-2" v-model="password" min="6" type="password" required placeholder="Entrez votre mot de passe"></b-form-input>
              </b-form-group>
              <a class="btn btn-light btn-block text-primary" href="#" @click.prevent="loginGoogle">
                <i class="fab fa-google mr-3"></i>
                Se connecter avec Google
              </a>
              <b-form-group id="button-group" class="mt-4">
                <b-button type="submit" variant="primary" class="btn-block">Se connecter</b-button>
              </b-form-group>
            </b-form>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <p>
                  <router-link tag="a" to="/forget-password" class="ml-1">Mot de passe oublié</router-link>
                </p>
                <p>
                  Pas encore de compte ?
                  <router-link tag="a" to="/inscription" class="ml-1"><b>S'inscrire</b></router-link>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>
