<script>
import appConfig from '@src/app.config.json'
import Layout from '@layouts/main'
import CandidateShow from '@components/candidate/candidate-show'
import Loader from "@components/utils/loader";

export default {
  page: {
    title: 'Profil candidat',
    meta: [{name: 'description', content: appConfig.description}],
  },
  components: {Layout, CandidateShow, Loader},
  data() {
    return {
      title : 'Profil candidat',
      candidate: null,
      optionsCandidateShow : {
        canEdit : false,
        canInteract : true
      }
    }
  },
  mounted() {
    this.getCandidate()
  },
  methods : {
    async getCandidate() {
      this.candidate = await this.$store.dispatch('user/getUser', { user_id: this.$route.params.id })
    }
  }
}
</script>

<template>
  <Layout :title="title">
    <candidate-show v-if="candidate" :candidate="candidate" :options="optionsCandidateShow"></candidate-show>
    <loader v-else></loader>
  </Layout>
</template>
