<script>
import Layout from '@layouts/main'
import Subscription from "@components/paiement/subscription";

export default {
  components: {Layout, Subscription},
}
</script>

<template>
  <Layout>
    <Subscription></Subscription>
  </Layout>
</template>
