.domain-card {

    .card-body{
        display: flex;
        align-items: center;
    }

    img{
        filter: blur(2px) brightness(50%);
        height: 140px;
    }

    .card-text{
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

}
