//
// profile.scss
//

.post-user-comment-box {
    background-color: $gray-100;
    margin: 0 -.75rem;
    padding: 1rem;
    margin-top: 20px;
}

#carousel{

    img{
        filter: brightness(0.45);
    }

    p{
        font-size: 20px;
        color: white;
    }
}
