<template>
  <div class="row">
      <Article v-for="article in articles" :article="article"></Article>
  </div>
</template>

<script>
import Article from "@components/dashboard/article";

export default {
  name: "Articles",
  components: { Article },
  data() {
    return {
      articles:  []
    }
  },
  mounted() {
    this.getArticles()
  },
  methods : {
    getArticles : async function () {
      const articles = await this.$store.dispatch('blogPost/getArticles');
      this.articles = articles
    }
  }
}
</script>
