<template>
  <div class="col-md-4">
    <b-card
      class="card-article"
      :title="article.title"
      :img-src="article.image"
      img-top
    >
      <b-card-text>
        <span v-html="article.content"></span>
      </b-card-text>
      <b-button :href="article.link" variant="primary">Voir l'article</b-button>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "Article",
  props : {
    article : null
  }
}
</script>

<style scoped lang="scss">
  .card-article{
    img{
      height: 200px;
    }
    height: 450px;
  }
</style>
