<script>
import Timeline from "@components/dashboard/timeline";

export default {
  name: "DashboardCandidate",
  components: { Timeline },
}
</script>

<template>
  <div>
<!--    <Articles></Articles>-->
    <Timeline></Timeline>
  </div>
</template>
