<script>
import Layout from "@layouts/main";
import CertificationList from "@components/candidate/certification-list";
import Timeline from "@components/candidate/timeline/timeline";
import CandidateEditBtn from "@components/candidate/candidate-edit-btn";
import ContactBtnGroup from "@components/candidate/contact-btn-group";
import EditMyExpectations from "@components/candidate/expectation/edit-my-expectations";
import Expectations from "@components/candidate/expectation/expectations";
import MyPhoto from "@components/user/my-photo";

export default {
  name: "CandidateShow",
  components: { Expectations, Layout, CertificationList, Timeline, CandidateEditBtn, ContactBtnGroup, EditMyExpectations, MyPhoto },
  props : {
    candidate : null,
    options : {}
  },
  methods : {
    async removeDegree(degree) {
      const message = await this.$store.dispatch('degree/delete', { degree: degree })
      this.$bvToast.toast(message, {title: 'Succès'})
    },
    async removeExperience( experience ) {
      const message = await this.$store.dispatch('experience/delete', { experience: experience })
      this.$bvToast.toast(message, {title: 'Succès'})
    },
    async createDegree( degree ) {
      const message = await this.$store.dispatch('degree/create', { degree: degree })
      this.$bvToast.toast(message, {title: 'Succès'})
    },
    async createExperience( experience ) {
      const message = await this.$store.dispatch('experience/create', { experience: experience })
      this.$bvToast.toast(message, {title: 'Succès'})
    },
    async updateDegree( degree ) {
      const message = await this.$store.dispatch('degree/update', { degree: degree })
      this.$bvToast.toast(message, {title: 'Succès'})
    },
    async updateExperience( experience ) {
      const message = await this.$store.dispatch('experience/update', { experience: experience })
      this.$bvToast.toast(message, {title: 'Succès'})
    }
  }
}
</script>

<template>
  <div v-if="candidate" id="fiche_profile">
    <ul id="bar_info_user">
      <MyPhoto :user="candidate"></MyPhoto>
      <li>{{ candidate.fullname }}</li>
      <li v-if="candidate.job_name"><i class="fas fa-binoculars"></i>&nbsp;{{ candidate.job_name }}</li>
      <li v-if="candidate.city"><i class="fas fa-map-marker-alt"></i>&nbsp;{{ candidate.city }} <span v-if="candidate.address">, {{ candidate.address }}</span></li>
      <li v-if="candidate.user.website">
        <a :href="'//' + candidate.user.website" target="_blank">
          <i class="fas fa-link" data-toggle="tooltip" data-placement="top" title="Site web"></i>
        </a>
      </li>
      <li v-if="candidate.user.link_facebook"><a :href="'//' + candidate.user.link_facebook" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
      <li v-if="candidate.user.link_twitter"><a :href="'//' + candidate.user.link_twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li v-if="candidate.user.link_instagram"><a :href="'//' + candidate.user.link_instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li v-if="candidate.user.link_linkedin"><a :href="'//' + candidate.user.link_linkedin" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    <div class="row">
      <div class="col-md-6">
        <b-card>
          <b-card-title>Expériences</b-card-title>
          <b-card-text>
            <Timeline
                :elements="candidate.experiences"
                :options="{ canEdit: options.canEdit, type: 'experiences' }"
                @remove="removeExperience"
                @create="createExperience"
                @update="updateExperience">
            </Timeline>
          </b-card-text>
        </b-card>
        <b-card>
          <b-card-title>Formations</b-card-title>
          <b-card-text>
            <Timeline
                :elements="candidate.degrees"
                :options="{ canEdit: options.canEdit, type: 'degrees' }"
                @remove="removeDegree"
                @create="createDegree"
                @update="updateDegree">
            </Timeline>
          </b-card-text>
        </b-card>
      </div>
      <div class="col-md-6">
        <b-card>
          <b-card-title>Informations générales</b-card-title>
          <b-card-text>
            <p v-if="candidate.number_missions"><b>{{ candidate.number_missions }}</b> missions</p>
            <p v-if="candidate.years_experiences"><b>{{ candidate.years_experiences }}</b> ans d'expériences</p>
            <p v-if="candidate.expected_salary"><b>{{ parseInt(candidate.expected_salary).toLocaleString() }}</b>€ / an</p>
          </b-card-text>
        </b-card>
        <b-card v-if="candidate.domains.length">
          <b-card-title>Domaines</b-card-title>
          <b-card-text>
            <ul>
              <li v-for="domain in candidate.domains">{{ domain.name }}</li>
            </ul>
          </b-card-text>
        </b-card>
        <CertificationList :candidate="candidate"></CertificationList>
        <Expectations :candidate="candidate"></Expectations>
      </div>
    </div>
    <div v-if="options.canInteract" class="d-inline text-center">
      <ContactBtnGroup :candidate="candidate"></ContactBtnGroup>
    </div>
    <div v-if="options.canEdit" class="d-inline text-center">
      <CandidateEditBtn :candidate="candidate"></CandidateEditBtn>
    </div>
  </div>
</template>
