<script>
import CertificationLogo from "@components/candidate/certification-logo"

export default {
  name: "certification-list",
  components : { CertificationLogo },
  props : {
    candidate : null
  }
}
</script>

<template>
  <div class="row certifications-logos">
    <div v-for="certification in candidate.certifications">
      <certification-logo :certification="certification"></certification-logo>
    </div>
  </div>
</template>
