<script>
export default {
  name: "CertificationLogo",
  props : {
    certification : null
  }
}
</script>

<template>
  <b-card>
    <span v-html="certification.icon"></span>
    <i class="fas fa-sun level" :style="{color: certification.getColor()}"></i>
  </b-card>
</template>
