<script>
  import ChatContentMessage from "@components/chat/chat-content-messages";
  import AgendaModal from "@components/agenda/agenda-modal";
  import Meeting from "@src/models/event/Meeting";
  import store from "@state/store";
  import moment from "moment";
  import Message from "@src/models/chat/Message";
  moment.locale('fr');

  export default {
    name: "contact-btn-group",
    components: { ChatContentMessage, AgendaModal },
    props : {
      candidate : null,
    },
    data() {
      return {
        meeting : new Meeting({ start_at : moment(Date()).format(), end_at : moment(Date()).format(), creator : store.state.auth.currentUser, creator_id : store.state.auth.currentUser.id, participants :[this.candidate]}),
        title : 'Programmer un rendez-vous avec ' + this.candidate.fullname,
        currentMessage : null,
        messages : null
      }
    },
    mounted() {
      this.loadMessages();
      this.initMessage();
    },
    methods : {
      async loadMessages() {
        this.messages = await this.$store.dispatch('message/getConversation', { user_id : this.candidate.user.id })
      },
      initMessage() {
        this.currentMessage = new Message({content : '', author : store.state.auth.currentUser, author_id : store.state.auth.currentUser.user.id, recipient_id : this.candidate.user.id})
      },
      async sentMessage() {
        this.initMessage();
        if(this.$route.params.job_offer_id){
          await this.$store.dispatch('jobOffer/linkJobOffertToCandidate', {candidate_id: this.candidate.id, job_offer_id: this.$route.params.job_offer_id})
        }
      }
    }
  }
</script>

<template>
  <div>
    <b-button-group class="text-center">
      <b-button variant="primary" class="mr-2" @click="$bvModal.show('bv-send-message')">Envoyer un message</b-button>
      <b-button variant="primary" class="mr-2" @click="$bvModal.show('modal-event')">Programmer un rendez-vous</b-button>
    </b-button-group>
    <b-modal id="bv-send-message" centered size="lg" hide-header hide-footer>
      <template #modal-title>Envoyer un message</template>
      <chat-content-message
        :currentSpokesPerson="candidate"
        :currentMessage="currentMessage"
        :messages="messages"
        @sentMessage="sentMessage"
      ></chat-content-message>
    </b-modal>
    <agenda-modal :meeting="meeting" :title="title"></agenda-modal>
  </div>
</template>
