<script>
import Timeline from "@components/candidate/timeline/timeline";
import Multiselect from 'vue-multiselect'
import SaveBtn from "@components/utils/save-btn";

export default {
  name: "EditMySkills",
  components : { Timeline, Multiselect, SaveBtn },
  props : {
    candidate : null
  },
  data(){
    return {
      certifications_selected : [],
      certifications : [],
      optionsLevel : [1, 2, 3]
    }
  },
  mounted() {
    this.getAllCertifications();
    this.getMyCertifications();
  },
  methods : {
    async getAllCertifications() {
      this.certifications = await this.$store.dispatch('certification/all')
    },
    async getMyCertifications() {
      this.certifications_selected = await this.$store.dispatch('certification/user_certifications', {candidate : this.candidate})
    },
    async updateCertificationSelected() {
      const message = await this.$store.dispatch('certification/update_user_certifications', {certifications : this.certifications_selected})
      this.$emit('updated', {message : message, modal : 'bv-edit-skills'})
    }
  }
}
</script>

<template>
  <form @submit.prevent="updateCertificationSelected">
    <multiselect v-if="certifications.length" multiple v-model="certifications_selected" track-by="name" :options="certifications" placeholder="Mes compétences" label="name" selectLabel="Choisir" selectedLabel="Selectionnée" deselectLabel="Retirer"></multiselect>
    <div v-if="certifications_selected.length" class="row mt-2" v-for="certif in certifications_selected">
      <div class="col-md-6">{{ certif.name }}</div>
      <div class="col-md-6">
        <b-form-select v-model="certif.level" :options="optionsLevel"></b-form-select>
      </div>
    </div>
    <save-btn></save-btn>
  </form>
</template>
