<script>
import JobOfferCard from "@components/job-offer/job-offer-card";

export default {
  name: "JobOfferCardList",
  components: { JobOfferCard },
  props : {
    jobOffers : null,
    options : null,
    showDetail : null
  }
}
</script>

<template>
  <div class="row">
    <div v-for="jobOffer in jobOffers" class="col-md-4">
      <job-offer-card :jobOffer="jobOffer" :options="options"></job-offer-card>
    </div>
  </div>
</template>
