<script>
import Profiles from '@components/job-offer/profiles'

export default {
  components: { Profiles },
  name: "JobOfferShow",
  props : {
    jobOffer : null,
  }
}
</script>

<template>
  <div>
    <profiles :jobOffer="jobOffer"></profiles>
  </div>
</template>
