<script>
import SaveBtn from "@components/utils/save-btn";
import BackBtn from "@components/utils/back-btn";
import status from "@src/constantes/job-offer-status";
import contracts from "@src/constantes/job-offer-contracts";
import Multiselect from "vue-multiselect";

export default {
  name: "JobOfferForm",
  components: { SaveBtn, BackBtn, Multiselect },
  props : {
    jobOffer : null
  },
  data() {
    return {
      status : status,
      contracts : contracts,
      domains : [],
      expectations : [],
      selected_expectations : [],
      selected_expectations_id : [],
      certifications : [],
    }
  },
  mounted() {
    this.getDomains();
    this.getExpectations()
    this.getAllCertifications()
    console.log(this.jobOffer);
  },
  methods : {
    async getExpectations() {
      this.expectations = await this.$store.dispatch('expectation/all')
    },
    async getDomains() {
      this.domains = await this.$store.dispatch('domain/all')
    },
    async onSubmit() {
      if( this.mode === 'create' ){
        const message = await this.$store.dispatch('jobOffer/create', { jobOffer : this.jobOffer })
        this.$router.push({ name: 'recruitment' })
        this.$bvToast.toast(message, {title: 'Succès'});
      }else{
        const message = await this.$store.dispatch('jobOffer/update', { jobOffer : this.jobOffer })
        this.$router.push({ name: 'recruitment' })
        this.$bvToast.toast(message, {title: 'Succès'});
      }
    },
    toggleExpectation(expectation) {
      if(this.selected_expectations.includes(expectation)){
        this.jobOffer.expectations = this.jobOffer.expectations.filter( selected_expectation => selected_expectation !== expectation.id )
      }else{
        this.jobOffer.expectations.push(expectation.id);
      }
    },
    async getAllCertifications() {
      this.certifications = await this.$store.dispatch('certification/all')
    },
  }
}
</script>

<template>
  <b-card>
    <b-form @submit.prevent="onSubmit">
      <b-row>
        <b-col>
          <b-form-group label="Status" label-for="status">
            <b-form-select v-model="jobOffer.status" :options="status"></b-form-select>
          </b-form-group>
          <b-form-group label="Domaines" label-for="Domaines">
          <Multiselect v-model="jobOffer.domains" multiple :options="domains" placeholder="Mes domaines" track-by="name" label="name" select-label="Choisir" selected-label="Selectionné" deselect-label="Retirer"></Multiselect>
          </b-form-group>
          <b-row>
            <b-col>
              <b-form-group label="Type de contrat *" label-for="contract">
                <b-form-select v-model="jobOffer.contract" :options="contracts" required></b-form-select>
              </b-form-group>
            </b-col>
            <b-col v-if="jobOffer.contract === 3">
              <b-form-group label="Durée du CDD (en mois)" label-for="cdd_duration">
                <b-form-input id="cdd_duration" v-model="jobOffer.cdd_duration" type="number" min="1" max="36" step="1" required></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group label="Salaire (en € brut par an)" label-for="salary">
                <b-form-input id="salary" v-model="jobOffer.salary" type="number" min="0" step="200"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group label="Date d'embauche souhaitée" label-for="start_date">
                <b-form-input id="star_date" v-model="jobOffer.star_date" rows="5"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-checkbox v-model="jobOffer.show_salary">Afficher le salaire sur l'annonce</b-form-checkbox>
            </b-col>
          </b-row>
          <b-form-group label="Titre de l'annonce *" label-for="name">
            <b-form-input id="name" v-model="jobOffer.name" required></b-form-input>
          </b-form-group>
          <b-form-group label="Profile recherché" label-for="required_profile">
            <b-form-textarea id="required_profile" v-model="jobOffer.required_profile" rows="5"></b-form-textarea>
          </b-form-group>
          <b-form-group label="Un mot sur votre future équipe" label-for="word_about_futur_team">
            <b-form-textarea id="word_about_futur_team" v-model="jobOffer.word_about_futur_team" rows="5"></b-form-textarea>
          </b-form-group>
          <b-form-group label="Un mot sur votre future manager" label-for="word_about_futur_manager">
            <b-form-textarea id="word_about_futur_manager" v-model="jobOffer.word_about_futur_manager" rows="5"></b-form-textarea>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Missions" label-for="missions">
            <b-form-textarea id="missions" v-model="jobOffer.missions" rows="5"></b-form-textarea>
          </b-form-group>
          <b-form-group label="Détail sur le processus d'integration" label-for="process_integration">
            <b-form-textarea id="process_integration" v-model="jobOffer.process_integration" rows="5"></b-form-textarea>
          </b-form-group>
          <b-form-checkbox v-model="jobOffer.deplacements">Déplacements</b-form-checkbox>
          <b-form-checkbox v-model="jobOffer.teletravail">Télé-travaile possible</b-form-checkbox>
          <b-form-checkbox v-model="jobOffer.handicape">Poste ouvert aux personnes handicapées</b-form-checkbox>
          <div class="row mt-4">
            <div class="col-md-6">
              <p class="text-center">Relationnel</p>
              <b-form-checkbox v-for="expectation in expectations" v-if="expectation.category_id === 1" :checked="jobOffer.expectations.includes(expectation.id)" @change="toggleExpectation(expectation)">
                {{ expectation.name }}
              </b-form-checkbox>
            </div>
            <div class="col-md-6">
              <p class="text-center">Avantages</p>
              <b-form-checkbox v-for="expectation in expectations" v-if="expectation.category_id === 2" :checked="jobOffer.expectations.includes(expectation.id)" @change="toggleExpectation(expectation)">
                {{ expectation.name }}
              </b-form-checkbox>
            </div>
          </div>
          <div class="mt-5 mb-2">
            <b-form-checkbox v-model="jobOffer.active_location">Le localisation géographique n'est pas importante pour ce poste</b-form-checkbox>
            <div v-if="!jobOffer.active_location" class="row">
              <div class="col-md-6">
                <b-form-group label="Adresse" label-for="address">
                  <b-form-input id="address" v-model="jobOffer.address"></b-form-input>
                </b-form-group>
              </div>
              <div class="col-md-6">
                <b-form-group label="Ville" label-for="city">
                  <b-form-input id="city" v-model="jobOffer.city"></b-form-input>
                </b-form-group>
              </div>
            </div>
          </div>
          <div>
            <Multiselect v-if="certifications.length" v-model="jobOffer.certifications" multiple track-by="name" :options="certifications" placeholder="Les compétences recherchées" label="name" select-label="Choisir" selected-label="Selectionnée" deselect-label="Retirer"></Multiselect>
          </div>
        </b-col>
      </b-row>
      <BackBtn></BackBtn>
      <SaveBtn></SaveBtn>
    </b-form>
  </b-card>
</template>
