<script>
import Empty from "@components/utils/empty-content";
import JobOfferCardList from "@components/job-offer/job-offer-card-list";

export default {
  name: "MyJobOffersCandidate",
  components: { Empty, JobOfferCardList },
  data() {
    return {
      myJobOffers : null,
      cardOptions : {
        editBtn : false,
        showBtn : false,
        showDetail : true
      }
    }
  },
  mounted() {
    this.getMyJobOffers()
  },
  methods : {
    async getMyJobOffers() {
      this.myJobOffers = await this.$store.dispatch('jobOffer/getJobOffersCandidate', {candidate: this.$store.state.auth.currentUser})
    }
  }
}
</script>

<template>
  <div>
    <div v-if="this.myJobOffers && this.myJobOffers.length !== 0">
      <job-offer-card-list :jobOffers="myJobOffers" :options="cardOptions"></job-offer-card-list>
    </div>
    <empty
      v-if="this.myJobOffers && this.myJobOffers.length === 0"
      title="Vous n'avez été contacté pour aucune offre...pour l'instant!"
      icon="<i class='far fa-grin-wink'></i>"
      link="Je pofine mon profil."
      :route_name="{ name: 'my_profile' }"
    >
    </empty>
  </div>
</template>

