<script>
import CandidateCard from "@components/candidate/candidate-card";
import Empty from "@components/utils/empty-content";
import Loader from "@components/utils/loader";

export default {
  name: "profiles",
  components : { CandidateCard, Empty, Loader },
  props : {
    jobOffer : null
  },
  data() {
    return {
      perfectProfiles: null,
      correctProfiles : null
    }
  },
  mounted() {
    this.getProfiles()
  },
  methods : {
    async getProfiles() {
      const profiles = await this.$store.dispatch('candidate/getProfiles', {jobOffer : this.jobOffer})
      this.perfectProfiles = profiles['perfectProfiles'];
      this.correctProfiles = profiles['correctProfiles'];
    }
  }
}
</script>

<template>
  <div>
    <loader v-if="!perfectProfiles && !correctProfiles"></loader>
    <div v-if="perfectProfiles && perfectProfiles.length || correctProfiles && correctProfiles.length">
      <div v-if="perfectProfiles.length">
        <h2>"Idéal" pour votre société</h2>
        <div class="row">
          <candidate-card class="col-md-4" v-for="candidate in perfectProfiles" :candidate="candidate"></candidate-card>
        </div>
      </div>
      <div v-if="correctProfiles.length">
        <h2>Tous les candidats correspondant à cette annonce</h2>
        <div class="row">
          <candidate-card class="col-md-4" v-for="candidate in correctProfiles" :candidate="candidate"></candidate-card>
        </div>
      </div>
    </div>
    <div v-if="perfectProfiles && !perfectProfiles.length && correctProfiles && !correctProfiles.length">
      <empty
        title="Aucun profile candidat n'a été trouvé pour cette annonce."
        icon="<i class='far fa-grin-wink'></i>"
        link="Editer cette annonce."
        :route_name="{ name: 'recruitment_edit', params : { id : jobOffer.id  } }"
      >
      </empty>
    </div>
  </div>
</template>
