<script>
export default {
  name: "empty",
  props : {
    title : null,
    icon : null,
    link : null,
    route_name : null,
  }
}
</script>

<template>
  <div class="card card-empty">
    <div class="card-body text-muted text-center">
      <div>
        <p class="title">{{ title }}</p>
        <p v-if="link">
          <router-link :to="route_name" class="waves-effect w-100">
            {{ link }}
          </router-link>
        </p>
        <p><span v-html="icon"></span></p>
      </div>
    </div>
  </div>
</template>

