<script>
export default {
  name: "SaveBtn"
}
</script>

<template>
  <div class="text-right">
    <button type="submit" class="btn btn-primary waves-effect waves-light mt-2">Enregistrer</button>
  </div>
</template>
