.card-empty {
    height: 75vh;
    .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            font-weight: 700;
            display: block;
            .title {
                font-size: 30px;
            }
            i {
                font-size: 150px;
            }
            a {
                color: inherit;
                text-decoration: underline;
                font-size: 17px;
            }
        }
    }
}
